Repository 3dollar-in-my-pocket/3dollar-in-my-pocket-android, pull requests merged in 2022-12, with the labels that each got.

#55 [Fix] 내가 쓴 리뷰 / 최근 들린 가게 / 제보한 가게 데이터 안나오는 문제 수정
  app/src/main/java/com/zion830/threedollars/datasource/MyReviewDataSourceImpl.kt
  app/src/main/java/com/zion830/threedollars/datasource/MyStoreDataSourceImpl.kt
  app/src/main/java/com/zion830/threedollars/datasource/MyVisitHistoryDataSourceImpl.kt
  app/src/main/java/com/zion830/threedollars/di/NetworkModule.kt
Labels: Review Plz

#57 [Feat] 가게 상세페이지 즐겨찾기 기능 추가 및 기존 UI 수정
  app/src/main/java/com/zion830/threedollars/Constants.kt
  app/src/main/java/com/zion830/threedollars/datasource/StoreDataSource.kt
  app/src/main/java/com/zion830/threedollars/datasource/StoreDataSourceImpl.kt
  app/src/main/java/com/zion830/threedollars/datasource/model/v2/response/store/BossStoreDetailModel.kt
  app/src/main/java/com/zion830/threedollars/datasource/model/v2/response/store/StoreDetail.kt
  app/src/main/java/com/zion830/threedollars/network/NewServiceApi.kt
  app/src/main/java/com/zion830/threedollars/ui/category/StoreDetailViewModel.kt
  app/src/main/java/com/zion830/threedollars/ui/food_truck_store_detail/FoodTruckReviewActivity.kt
  app/src/main/java/com/zion830/threedollars/ui/food_truck_store_detail/FoodTruckStoreDetailActivity.kt
  app/src/main/java/com/zion830/threedollars/ui/food_truck_store_detail/FoodTruckStoreDetailViewModel.kt
  app/src/main/java/com/zion830/threedollars/ui/store_detail/StoreDetailActivity.kt
  app/src/main/java/com/zion830/threedollars/utils/SystemUtils.kt
  app/src/main/res/drawable/ic_food_truck_favorite_off.xml
  app/src/main/res/drawable/ic_food_truck_favorite_on.xml
  app/src/main/res/drawable/ic_road_food_favorite_off.xml
  app/src/main/res/drawable/ic_road_food_favorite_on.xml
  app/src/main/res/drawable/icon_info.xml
  app/src/main/res/drawable/ripple_green.xml
  app/src/main/res/layout/activity_food_truck_store_detail.xml
  app/src/main/res/layout/activity_store_info.xml
  app/src/main/res/layout/custom_toast_black.xml
  app/src/main/res/values/strings.xml
Labels: Check Plz

#58 [Feat] 마이 페이지 즐겨 찾기 기능 추가
  app/src/main/java/com/zion830/threedollars/datasource/UserDataSource.kt
  app/src/main/java/com/zion830/threedollars/datasource/UserDataSourceImpl.kt
  app/src/main/java/com/zion830/threedollars/datasource/model/v2/response/StoreEmptyResponse.kt
  app/src/main/java/com/zion830/threedollars/datasource/model/v2/response/favorite/MyFavoriteFolderResponse.kt
  app/src/main/java/com/zion830/threedollars/datasource/model/v2/response/visit_history/VisitHistoryContent.kt
  app/src/main/java/com/zion830/threedollars/network/NewServiceApi.kt
  app/src/main/java/com/zion830/threedollars/ui/category/TruckByMenuFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/category/adapter/TruckSearchByDistanceRecyclerAdapter.kt
  app/src/main/java/com/zion830/threedollars/ui/category/adapter/TruckSearchByReviewRecyclerAdapter.kt
  app/src/main/java/com/zion830/threedollars/ui/home/HomeViewModel.kt
  app/src/main/java/com/zion830/threedollars/ui/home/adapter/NearStoreRecyclerAdapter.kt
  app/src/main/java/com/zion830/threedollars/ui/mypage/MyPageFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/mypage/adapter/MyPageRecyclerAdapter.kt
  app/src/main/java/com/zion830/threedollars/ui/mypage/adapter/RecentVisitHistoryRecyclerAdapter.kt
  app/src/main/java/com/zion830/threedollars/ui/mypage/vm/MyPageViewModel.kt
  app/src/main/res/drawable/ic_badge_gray.xml
  app/src/main/res/drawable/ic_favorite_gray.xml
  app/src/main/res/layout/fragment_new_my_page.xml
  app/src/main/res/layout/item_home_empty.xml
  app/src/main/res/layout/item_mypage_empty.xml
  app/src/main/res/layout/item_mypage_favorite.xml
  app/src/main/res/layout/item_truck_search_empty.xml
  app/src/main/res/values/strings.xml
Labels: Merge Plz

#52 [Feat] popups data nullable 처리 및 string null default 확장함수 추가
  app/src/main/java/com/zion830/threedollars/datasource/model/v2/response/PopupsResponse.kt
  app/src/main/java/com/zion830/threedollars/network/NewServiceApi.kt
  app/src/main/java/com/zion830/threedollars/ui/category/StreetByMenuFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/category/StreetSelectCategoryDialogFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/category/TruckByMenuFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/category/TruckSelectCategoryDialogFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/home/HomeFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/popup/PopupFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/popup/PopupViewModel.kt
  common/src/main/java/zion830/com/common/ext/StringExt.kt
Labels: Merge Plz

#61 [Feat] 노아 마커 추가
  app/src/main/java/com/zion830/threedollars/GlobalApplication.kt
  app/src/main/java/com/zion830/threedollars/MainActivity.kt
  app/src/main/java/com/zion830/threedollars/datasource/UserDataSource.kt
  app/src/main/java/com/zion830/threedollars/datasource/UserDataSourceImpl.kt
  app/src/main/java/com/zion830/threedollars/datasource/model/v2/response/PopupsResponse.kt
  app/src/main/java/com/zion830/threedollars/network/NewServiceApi.kt
  app/src/main/java/com/zion830/threedollars/ui/addstore/EditStoreDetailFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/addstore/view/NearStoreNaverMapFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/map/NaverMapFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/map/NaverMapViewModel.kt
  app/src/main/java/com/zion830/threedollars/ui/report_store/map/StoreAddNaverMapFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/report_store/map/StoreEditNaverMapFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/splash/SplashViewModel.kt
  app/src/main/java/com/zion830/threedollars/ui/store_detail/map/FoodTruckStoreDetailNaverMapFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/store_detail/map/StoreCertificationNaverMapFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/store_detail/map/StoreDetailNaverMapFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/store_detail/map/StreetStoreByMenuNaverMapFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/store_detail/map/TruckStoreByMenuNaverMapFragment.kt
  app/src/main/res/drawable/ic_marker_noah.png
Labels: Merge Plz

#60 [Feat] 즐겨 찾기 정보 수정 페이지 구현
  app/src/main/AndroidManifest.xml
  app/src/main/java/com/zion830/threedollars/datasource/UserDataSource.kt
  app/src/main/java/com/zion830/threedollars/datasource/UserDataSourceImpl.kt
  app/src/main/java/com/zion830/threedollars/datasource/model/v2/request/FavoriteInfoRequest.kt
  app/src/main/java/com/zion830/threedollars/network/NewServiceApi.kt
  app/src/main/java/com/zion830/threedollars/ui/favorite/FavoriteMyFolderActivity.kt
  app/src/main/java/com/zion830/threedollars/ui/favorite/FavoriteMyInfoEditActivity.kt
  app/src/main/java/com/zion830/threedollars/ui/favorite/FavoriteMyInfoEditViewModel.kt
  app/src/main/res/drawable/selector_enabled_button.xml
  app/src/main/res/layout/activity_favorite_my_folder.xml
  app/src/main/res/layout/activity_favorite_my_info_edit.xml
  app/src/main/res/values/strings.xml
Labels: Review Plz

#72 [Fix] 즐겨찾기 Bug 및 수정 사항
  app/src/main/java/com/zion830/threedollars/datasource/FavoriteMyFolderDataSourceImpl.kt
  app/src/main/java/com/zion830/threedollars/datasource/model/v2/response/favorite/MyFavoriteFolderResponse.kt
  app/src/main/java/com/zion830/threedollars/ui/category/StoreDetailViewModel.kt
  app/src/main/java/com/zion830/threedollars/ui/favorite/AllDeleteFavoriteDialog.kt
  app/src/main/java/com/zion830/threedollars/ui/favorite/FavoriteMyFolderActivity.kt
  app/src/main/java/com/zion830/threedollars/ui/favorite/FavoriteMyInfoEditActivity.kt
  app/src/main/java/com/zion830/threedollars/ui/favorite/FavoriteViewModel.kt
  app/src/main/java/com/zion830/threedollars/ui/food_truck_store_detail/FoodTruckStoreDetailActivity.kt
  app/src/main/java/com/zion830/threedollars/ui/food_truck_store_detail/FoodTruckStoreDetailViewModel.kt
  app/src/main/java/com/zion830/threedollars/ui/map/MarkerClickDialog.kt
  app/src/main/java/com/zion830/threedollars/ui/map/MarkerClickViewModel.kt
  app/src/main/java/com/zion830/threedollars/ui/map/NaverMapFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/map/NaverMapViewModel.kt
  app/src/main/java/com/zion830/threedollars/ui/mypage/MyPageFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/mypage/vm/MyPageViewModel.kt
  app/src/main/java/com/zion830/threedollars/ui/store_detail/StoreDetailActivity.kt
  app/src/main/java/com/zion830/threedollars/utils/SystemUtils.kt
  app/src/main/res/drawable/rect_gray60_radius_48.xml
  app/src/main/res/drawable/rect_white_radius_30.xml
  app/src/main/res/layout/activity_favorite_my_folder.xml
  app/src/main/res/layout/activity_store_info.xml
  app/src/main/res/layout/dialog_all_delete_favorite.xml
  app/src/main/res/layout/dialog_marker_click.xml
  app/src/main/res/values/strings.xml
Labels: Merge Plz

#73 [Fix]Bug
  app/src/main/java/com/zion830/threedollars/datasource/FavoriteMyFolderDataSourceImpl.kt
  app/src/main/java/com/zion830/threedollars/ui/category/StoreDetailViewModel.kt
  app/src/main/java/com/zion830/threedollars/ui/favorite/FavoriteMyFolderRecyclerAdapter.kt
  app/src/main/java/com/zion830/threedollars/ui/mypage/adapter/MyPageRecyclerAdapter.kt
  app/src/main/java/com/zion830/threedollars/ui/mypage/vm/MyPageViewModel.kt
  app/src/main/res/layout/dialog_marker_click.xml
  app/src/main/res/layout/item_favorite_page.xml
Labels: Merge Plz

#74 [Fix] Bug
  app/src/main/java/com/zion830/threedollars/ui/category/StreetByMenuFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/category/TruckByMenuFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/favorite/FavoriteMyFolderActivity.kt
  app/src/main/java/com/zion830/threedollars/ui/map/NaverMapFragment.kt
  app/src/main/java/com/zion830/threedollars/utils/SystemUtils.kt
Labels: Merge Plz
