Repository 3dollar-in-my-pocket/3dollar-in-my-pocket-android, pull requests merged in 2023-12, with the labels that each got.

#172 [Feat] - 인앱 업데이트
  app/src/main/java/com/zion830/threedollars/ui/splash/ui/SplashActivity.kt
  app/src/main/res/drawable/ic_app_icon.png
Labels: Merge Plz

#175 Feature/gradle
  app/src/main/java/com/zion830/threedollars/MainActivity.kt
  app/src/main/java/com/zion830/threedollars/ui/favorite/FavoriteMyFolderActivity.kt
  app/src/main/java/com/zion830/threedollars/ui/favorite/FavoriteMyInfoEditActivity.kt
  app/src/main/java/com/zion830/threedollars/ui/favorite/viewer/FavoriteViewerActivity.kt
  app/src/main/java/com/zion830/threedollars/ui/home/ui/SearchAddressFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/login/ui/SignUpActivity.kt
  app/src/main/java/com/zion830/threedollars/ui/map/ui/NaverMapFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/mypage/adapter/FaqByTagRecyclerAdapter.kt
  app/src/main/java/com/zion830/threedollars/ui/mypage/ui/AskFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/mypage/ui/EditNameFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/mypage/ui/FAQFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/mypage/ui/MyMedalFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/mypage/ui/MyPageFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/mypage/ui/MyPageSettingFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/mypage/ui/MyReviewFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/mypage/ui/MyStoreFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/mypage/ui/MyVisitHistoryFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/splash/viewModel/SplashViewModel.kt
  app/src/main/java/com/zion830/threedollars/ui/write/ui/NewAddressFragment.kt
  app/src/main/res/layout/activity_favorite_viewer.xml
  app/src/main/res/layout/fragment_edit_name.xml
  app/src/main/res/layout/fragment_mypage_setting.xml
  app/src/main/res/layout/fragment_new_my_page.xml
  common.gradle
  common/src/main/java/zion830/com/common/base/BaseBindingAdapter.kt
  common/src/main/java/zion830/com/common/base/LegacyBaseActivity.kt
  common/src/main/java/zion830/com/common/base/LegacyBaseFragment.kt
  community/data/build.gradle
  community/domain/build.gradle
  community/presentation/build.gradle
  core/common/build.gradle
  core/network/build.gradle
  gradle/wrapper/gradle-wrapper.properties
  home/data/build.gradle
  home/domain/build.gradle
  home/domain/src/main/java/com/home/domain/data/store/CategoryModel.kt
  home/domain/src/main/java/com/home/domain/data/store/ClassificationModel.kt
  home/presentation/build.gradle
  login/data/build.gradle
  login/domain/build.gradle
Labels: Merge Plz

#176 [Feat] 버전업 및 무한로딩제거, 가게제보상세 추가
  app/src/main/java/com/zion830/threedollars/ui/write/ui/NewAddressFragment.kt
  app/src/main/res/layout/fragment_mypage_setting.xml
  app/src/main/res/navigation/mobile_navigation.xml
  common.gradle
Labels: Review Plz

#178 [Feat] 크래시리포트 정리 12월23일
  app/src/main/java/com/zion830/threedollars/MainActivity.kt
  app/src/main/java/com/zion830/threedollars/ui/map/ui/NaverMapFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/popup/PopupFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/splash/viewModel/SplashViewModel.kt
  app/src/main/java/com/zion830/threedollars/utils/SystemUtils.kt
  community/presentation/src/main/java/com/threedollar/presentation/poll/PollDetailActivity.kt
  core/common/src/main/java/com/threedollar/common/base/BaseActivity.kt
Labels: Merge Plz

#180 [Feat] 커뮤니티 광고 추가
  app/src/main/java/com/zion830/threedollars/GlobalApplication.kt
  app/src/main/java/com/zion830/threedollars/MainActivity.kt
  app/src/main/java/com/zion830/threedollars/ui/dialog/MarkerClickDialog.kt
  app/src/main/java/com/zion830/threedollars/ui/dialog/SelectCategoryDialogFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/home/adapter/AroundStoreMapViewRecyclerAdapter.kt
  app/src/main/java/com/zion830/threedollars/ui/home/ui/HomeFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/home/viewModel/HomeViewModel.kt
  app/src/main/java/com/zion830/threedollars/ui/map/ui/NaverMapFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/map/viewModel/MarkerClickViewModel.kt
  app/src/main/java/com/zion830/threedollars/ui/popup/PopupFragment.kt
  app/src/main/java/com/zion830/threedollars/ui/popup/PopupViewModel.kt
  app/src/main/java/com/zion830/threedollars/ui/splash/viewModel/SplashViewModel.kt
  community/data/src/main/java/com/threedollar/data/datasource/CommunityDataSource.kt
  community/data/src/main/java/com/threedollar/data/datasource/CommunityDataSourceImpl.kt
  community/data/src/main/java/com/threedollar/data/mapper/CommunityMapper.kt
  community/data/src/main/java/com/threedollar/data/repository/CommunityRepositoryImpl.kt
  community/domain/src/main/java/com/threedollar/domain/data/AdvertisementModelV2.kt
  community/domain/src/main/java/com/threedollar/domain/repository/CommunityRepository.kt
  community/presentation/build.gradle
  community/presentation/src/main/java/com/threedollar/presentation/CommunityFragment.kt
  community/presentation/src/main/java/com/threedollar/presentation/CommunityPollAdapter.kt
  community/presentation/src/main/java/com/threedollar/presentation/CommunityViewModel.kt
  community/presentation/src/main/java/com/threedollar/presentation/data/PollListData.kt
  community/presentation/src/main/java/com/threedollar/presentation/poll/PollDetailViewModel.kt
  community/presentation/src/main/res/drawable/ic_arrow_right.xml
  community/presentation/src/main/res/drawable/rect_gray.xml
  community/presentation/src/main/res/drawable/rect_round40.xml
  community/presentation/src/main/res/layout/activity_poll_detail.xml
  community/presentation/src/main/res/layout/item_poll_ad.xml
  core/common/src/main/java/com/threedollar/common/utils/AdvertisementsPosition.kt
  core/network/src/main/java/com/threedollar/network/api/ServerApi.kt
  core/network/src/main/java/com/threedollar/network/data/advertisement/AdvertisementResponse.kt
  home/data/src/main/java/com/home/data/HomeMapper.kt
  home/data/src/main/java/com/home/data/datasource/HomeRemoteDataSource.kt
  home/data/src/main/java/com/home/data/datasource/HomeRemoteDataSourceImpl.kt
  home/data/src/main/java/com/home/data/repository/HomeRepositoryImpl.kt
  home/domain/src/main/java/com/home/domain/data/advertisement/AdvertisementModel.kt
  home/domain/src/main/java/com/home/domain/data/advertisement/AdvertisementModelV2.kt
  home/domain/src/main/java/com/home/domain/repository/HomeRepository.kt
Labels: Merge Plz, Check Plz
